:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(210, 40%, 98%);
  --color-black: hsl(0, 0%, 10%);
  --color-night: hsl(214, 100%, 10%);
  --color-red: hsl(1, 77%, 55%);
  --color-grey: hsl(0, 0%, 40%);
  --color-blue: hsl(207, 90%, 54%);
  --color-green: hsl(123, 41%, 45%);
  --color-orange: hsl(33, 100%, 49%);
  --color-purple: hsl(291, 64%, 42%);
  --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
  font-size: 100%;
  font-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--color-black);
  background: var(--color-white);
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 80rem;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  margin: 0 auto;
}

@media only screen and (max-width: 425px) {
  .container {
    padding: 0 1rem;
    margin: 0 auto;
  }
}

.btn {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.btn-primary {
  padding: 0.65rem 1.25rem;
  color: var(--color-white);
  background: var(--color-blue);
  -webkit-box-shadow: var(--shadow-medium);
          box-shadow: var(--shadow-medium);
}

.btn-success {
  padding: 0.65rem 1.25rem;
  color: var(--color-white);
  background: var(--color-green);
  -webkit-box-shadow: var(--shadow-medium);
          box-shadow: var(--shadow-medium);
}

.btn-warning {
  padding: 0.65rem 1.25rem;
  color: var(--color-white);
  background: var(--color-orange);
  -webkit-box-shadow: var(--shadow-medium);
          box-shadow: var(--shadow-medium);
}

.btn-danger {
  padding: 0.65rem 1.25rem;
  color: var(--color-white);
  background: var(--color-red);
  -webkit-box-shadow: var(--shadow-medium);
          box-shadow: var(--shadow-medium);
}

.btn-rounded {
  padding: 0.65rem 1.25rem;
  border-radius: 3rem;
  color: var(--color-white);
  background: var(--color-purple);
  -webkit-box-shadow: var(--shadow-medium);
          box-shadow: var(--shadow-medium);
}

.btn-wide {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-family: inherit;
  margin: 0.75rem 0;
  color: var(--color-black);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.title-normal {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.title-medium {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
}

.title-large {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.25;
}

.title-extra {
  font-size: 2.45rem;
  font-weight: 700;
  line-height: 1.25;
}

.paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  color: var(--color-black);
  text-transform: unset;
  text-rendering: optimizeLegibility;
}

.main .wrapper {
  max-width: 65rem;
  width: 100%;
  height: auto;
  margin: 2.5rem auto;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 0.35rem;
  background: var(--color-white);
  -webkit-box-shadow: var(--shadow-large);
          box-shadow: var(--shadow-large);
}

.main .wrapper .header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
}

.main .wrapper .form {
  max-width: 26rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.main .wrapper .form .input-control {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0.25rem;
  padding-bottom: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main .wrapper .form .input-control .input-label {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: inherit;
  color: var(--color-black);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.main .wrapper .form .input-control .input-field {
  position: relative;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.3rem;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0.25rem;
  color: var(--color-black);
  background: var(--color-white);
  -webkit-box-shadow: var(--shadow-medium);
          box-shadow: var(--shadow-medium);
  text-transform: unset;
  text-rendering: optimizeLegibility;
}

.main .wrapper .form .input-control .input-file {
  position: relative;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-grey);
  background: var(--color-white);
  -webkit-box-shadow: var(--shadow-medium);
          box-shadow: var(--shadow-medium);
  text-align: left;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}

.main .wrapper .form .input-control .input-check .ion {
  position: absolute;
  display: block;
  content: '';
  top: 2rem;
  right: 1.25rem;
  font-size: 1.35rem;
  line-height: inherit;
  opacity: 0;
  visibility: hidden;
}

.main .wrapper .form .input-control .input-alert {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: inherit;
  color: var(--color-red);
  opacity: 0;
  visibility: hidden;
}

.main .wrapper .form .input-control.error .input-field {
  border-bottom: 2px solid var(--color-red);
}

.main .wrapper .form .input-control.error .input-check .ion-md-information-circle {
  opacity: 1;
  visibility: visible;
  color: var(--color-red);
}

.main .wrapper .form .input-control.error .input-alert {
  opacity: 1;
  visibility: visible;
}

.main .wrapper .form .input-control.success .input-field {
  border-bottom: 2px solid var(--color-green);
}

.main .wrapper .form .input-control.success .input-check .ion-md-checkmark-circle {
  opacity: 1;
  visibility: visible;
  color: var(--color-green);
}

@media only screen and (max-width: 425px) {
  .main .wrapper {
    width: 100%;
    height: auto;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main .wrapper .form {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.main .confirm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.main .confirm::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: var(--color-night);
}

.main .confirm-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
  max-width: 24rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-black);
  background: var(--color-white);
  -webkit-box-shadow: var(--shadow-large);
          box-shadow: var(--shadow-large);
}

.main .confirm-content img.greeting {
  display: block;
  max-width: 6rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
